:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey-light: #E5E5E5;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --special-yellow-dark: #F0C52E;
  --special-yellow-light: #F7E296;
  --special-green: #91C92F;
}

@font-face {
  font-family: Opensans;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: Opensans;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: Gilroy;
  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: Gilroy;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
}
.body-page {
  font-family: Opensans, Arial, sans-serif;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.body-page .link-special {
  text-decoration: none;
  color: var(--basic-black);
}
.body-page .link-special:hover {
  opacity: 0.7;
}
.body-page .link-special:active {
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrap {
  width: 80.5%;
  margin: 0 auto;
  padding: 0 10px;
}

.header-catalog {
  height: 186px;
}

.main-header {
  min-height: 214px;
  background: linear-gradient(0deg, #f7e296 0%, #f7e296 86%, white 86%, white 100%);
  margin: 0.6rem auto 0;
  box-sizing: border-box;
}
.main-header_logo {
  margin: 11px 0 0 50px;
}
.main-header_logo .logo:hover {
  opacity: 0.6;
}
.main-header_logo .logo:focus {
  opacity: 0.3;
}
.main-header_item {
  display: flex;
  align-items: baseline;
  margin: 24px 51px;
}
.main-header_item .search-box {
  border-bottom: 2px solid transparent;
  width: 46%;
}
.main-header_item .search-box .search {
  outline: none;
  border-bottom: 2px solid transparent;
  padding-left: 10px;
}
.main-header_item .search-box .search:hover {
  border-bottom: 2px solid #000;
}
.main-header_item .login,
.main-header_item .compare,
.main-header_item .search {
  background: none;
  border: none;
  font-family: Opensansans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}
.main-header_item .login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
  flex-flow: row-reverse;
  margin-right: 4vw;
}
.main-header_item .login-box .login-exit {
  opacity: 0.3;
}
.main-header_item .login-box .login-pic {
  padding-right: 12px;
}
.main-header_item .login-box .user-name {
  margin-right: 12px;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 4px;
}
.main-header_item .compare {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  flex-flow: row-reverse;
  margin: 0 33px;
}
.main-header_item .compare .compare-pic {
  padding-right: 0.5rem;
}
.main-header_item .basket-box {
  text-align: center;
}
.main-header_item .basket-box .basket-pic {
  padding-right: 0.5rem;
}
.main-header .main-nav_list {
  position: relative;
  display: flex;
  align-items: center;
  margin: 44px 50px 0 50px;
  padding: 0;
  list-style: none;
}
.main-header .main-nav_list .main-nav_link {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}
.main-header .main-nav_list .main-nav_item:nth-child(3) {
  margin: 0 10% 0 4%;
}
.main-header .main-nav_list-down {
  list-style: none;
  margin: 0;
  display: none;
  flex-wrap: wrap;
  width: 73%;
  position: absolute;
  background: #F7E296;
  z-index: 10000;
  left: -60px;
  padding-right: 24.9vw;
}
.main-header .open {
  width: 52%;
  display: flex;
  align-items: center;
}
.main-header .open:hover .main-nav_list-down {
  display: flex;
}
.main-header .open:hover .main-nav_list-down .sub-menu-link {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  text-transform: none;
  padding: 10px 61px 0 0;
  display: block;
  line-height: 20px;
  color: var(--basic-black);
  text-decoration: none;
}
.main-header .open .row-one {
  top: 1.2rem;
  padding: 25px 23.8vw 33px 60px;
}
.main-header .open .row-one::after {
  content: "";
  position: absolute;
  width: 42%;
  height: 1px;
  background: linear-gradient(to right, #000, #F7E296);
  top: 23px;
  left: 60px;
}
.main-header .open .row-two {
  top: 71px;
  padding: 8px 23.8vw 33px 60px;
}
.main-header .open .row-two .main-nav_item-sub:last-child {
  margin-left: 25px;
}
.main-header .open .row-three {
  top: 109px;
  padding: 8px 23.8vw 33px 60px;
  margin-top: 3px;
}
.main-header .open .row-three .main-nav_item-sub {
  padding: 4px 0;
}
.main-header .open .plus {
  padding-left: 1rem;
}

.slider-first-box {
  position: relative;
  margin-bottom: 5rem;
}
.slider-first-box .slider-first {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1000;
  background: linear-gradient(0deg, white 0%, white 77%, #f7e296 77%, #f7e296 100%);
  min-height: 513px;
  box-sizing: border-box;
}
.slider-first-box .slider-first .slider-text {
  padding: 0 0 0 2rem;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.slider-first-box .slider-first .slider-text .btn-box {
  margin-top: 13px;
  margin-left: 5px;
}
.slider-first-box .slider-first .slider-pic {
  text-align: center;
}
.slider-first-box .slider-first .slider-pic img {
  margin-left: 11px;
  margin-top: 13px;
}
.slider-first-box .slider-first .slider-pic .quadrotor {
  padding: 4rem 1rem 0 0;
}
.slider-first-box .slider-first .slider-num {
  position: absolute;
  top: -27px;
  right: 55px;
  display: block;
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 1;
}
.slider-first-box .slider-first .slider-item {
  width: 50%;
  z-index: 100;
}
.slider-first-box .slider-first .slider-item .slogan {
  position: relative;
  display: flex;
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 5.3rem 0 9px 4px;
}
.slider-first-box .slider-first .slider-item .slogan:before {
  content: "";
  width: 100px;
  height: 7px;
  background: #fff;
  position: absolute;
  top: -62px;
}
.slider-first-box .slider-first .slider-item .description {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 47px;
  margin-left: 3px;
}
.slider-first-box .slider-first .characteristic-box {
  display: flex;
  padding: 25px 0 0 3px;
  width: 100%;
}
.slider-first-box .slider-first .characteristic-box .characteristic-item {
  margin-right: 11%;
  font-family: Gilroy, sans-serif;
}
.slider-first-box .slider-first .characteristic-box .characteristic-item:last-child {
  margin-right: 0;
}
.slider-first-box .slider-first .characteristic-box .characteristic {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  margin-bottom: 0;
}
.slider-first-box .slider-nav {
  display: flex;
  position: absolute;
  bottom: 34%;
  right: 16%;
  cursor: pointer;
  z-index: 100000;
}
.slider-first-box .slider-nav .slider-nav_item {
  position: relative;
  margin: 0 0.5rem;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #000;
  padding: 0;
  display: flex;
  cursor: pointer;
  background: transparent;
}
.slider-first-box .slider-nav .current {
  background: url("../img/png/current.png") no-repeat center;
  cursor: pointer;
}
.slider-first-box .slide {
  display: none;
}
.slider-first-box .active-slider {
  display: flex;
}

.btn-box {
  display: inline-block;
}
.btn-box .btn {
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  z-index: 100000;
  color: var(--basic-black);
  text-decoration: none;
}
.btn-box .btn:active {
  color: rgba(0, 0, 0, 0.3);
}
.btn-box .btn:before {
  content: "";
  position: absolute;
  top: 22px;
  left: -42px;
  width: 100%;
  height: 8px;
  background: var(--special-yellow-dark);
  margin-top: -15px;
  z-index: -1;
  padding: 0 42px;
}
.btn-box .btn:hover:before {
  height: 40px;
  top: 8px;
}

.product {
  margin-bottom: 1.7rem;
}

.product-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.product-list .product-item {
  margin-right: 40px;
  margin-bottom: 1rem;
}
.product-list .product-item:hover .product-item_pic {
  background: var(--special-yellow-dark);
}
.product-list .product-item:active a {
  opacity: 0.3;
}
.product-list .product-item:first-child {
  margin-left: -1px;
}
.product-list .product-item:last-child {
  margin: 0;
}
.product-list .product-item .product-item_pic {
  width: 160px;
  height: 160px;
  background: var(--special-yellow-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-list .product-item .product-item_description {
  width: 160px;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  margin: 2.4rem 0;
}
.product-list .product-item .product-item_description a {
  text-decoration: none;
  color: var(--basic-black);
}

.slider-second-container {
  background: linear-gradient(0deg, #e5e5e5 74%, white 50%);
  margin-bottom: 5.8rem;
}
.slider-second-container .services-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 320px;
}
.slider-second-container .btn-slider {
  border: none;
  background: none;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
}
.slider-second-container .btn-box {
  margin: 1.2rem 0;
  position: relative;
  z-index: 90;
  width: 160px;
  padding: 0 10px;
  text-align: center;
}
.slider-second-container .btn-box:active .btn-slider {
  color: #F7E296;
}
.slider-second-container .btn-box:hover:before {
  height: 40px;
  top: -7px;
}
.slider-second-container .btn-box:active:before {
  height: 40px;
  top: -7px;
  padding-right: 61%;
  background: #000;
}
.slider-second-container .btn-box:focus:before {
  height: 40px;
  top: -7px;
}
.slider-second-container .btn-box:before {
  content: "";
  width: 160px;
  height: 8px;
  cursor: pointer;
  background: var(--special-yellow-dark);
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: -1;
}
.slider-second-container .services-item-btn {
  padding: 0 96px 0 0;
  align-items: center;
}
.slider-second-container .services-item-credit,
.slider-second-container .services-item-warranty,
.slider-second-container .services-item-delivery {
  margin-left: 64px;
}
.slider-second-container .slider-second {
  display: flex;
  padding-bottom: 4.1rem;
}
.slider-second-container .slider-second .services-menu {
  display: flex;
  align-items: flex-start;
  border-right: 7px solid #000;
}
.slider-second-container .slider-second .services-item_text {
  margin: -16px 0 0px 50px;
}
.slider-second-container .slider-second .services-item_text .services-header {
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}
.slider-second-container .slider-second .services-item_text .services-description {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}
.slider-second-container .slider-second .slider {
  display: none;
}
.slider-second-container .slider-second .active {
  display: flex;
}

.clients {
  margin-bottom: 5.4rem;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
}
.clients-list_item {
  filter: grayscale(100%);
  opacity: 0.3;
}
.clients-list_item:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5.3rem;
  position: relative;
}
.about .about-item {
  width: 50%;
  position: relative;
  min-height: 580px;
  display: flex;
  flex-flow: column;
}
.about .about-item .about-item_header {
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-top: 58px;
  margin-bottom: 24px;
}
.about .about-item .about-item_header::after {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background: #000;
  position: absolute;
  top: 0;
}
.about .about-item ._header-contact {
  margin-bottom: 0;
}
.about .about-item .about-item_description {
  font-family: Opensans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}
.about .about-item .about-item_description:nth-child(3) {
  margin-top: 25px;
}
.about .about-item .btn-box {
  margin-top: 31px;
  margin-left: 30px;
}
.about .about-item .about-item_list {
  list-style: none;
  margin: 2.25rem 0;
  padding: 0;
}
.about .about-item .about-item_list li {
  padding: 8px 30px;
  position: relative;
}
.about .about-item .about-item_list a {
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  color: var(--basic-black);
}
.about .about-item .about-item_list a:before {
  content: "";
  width: 4px;
  height: 4px;
  border: 2px solid var(--basic-grey-light);
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 17px;
  left: 0;
}
.about .about-contact {
  margin-left: 6rem;
}
.about .about-contact .about-item_description {
  margin: 39px 0 40px 0;
}
.about .about-contact .btn-box {
  margin-top: 84px;
  margin-left: 33px;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 15%;
  max-width: 960px;
  min-height: 550px;
  background: #FFFFFF;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.15);
}
.modal .close {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: var(--special-yellow-dark);
  opacity: 0.5;
  right: 23px;
  top: 19px;
  cursor: pointer;
}
.modal .close:hover {
  opacity: 1;
}
.modal .close:active {
  opacity: 0.3;
}
.modal .close:before, .modal .close:after {
  content: "";
  width: 2px;
  height: 25px;
  background: #fff;
  position: absolute;
  top: 30%;
  left: 47%;
}
.modal .close:after {
  transform: rotate(45deg);
}
.modal .close:before {
  transform: rotate(-45deg);
}
.modal .form {
  display: flex;
  flex-flow: column;
  padding: 5rem;
}
.modal .form .form-btn {
  margin: 3.5rem 0 0 9rem;
  align-self: flex-start;
}
.modal .form .form_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .form .form_item label {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
  margin-bottom: 10px;
  display: block;
}
.modal .form .form_item .name,
.modal .form .form_item .email,
.modal .form .form_item .message {
  width: 360px;
  height: 50px;
  outline: none;
  background: #F2F2F2;
  display: flex;
  padding-left: 2rem;
  box-sizing: border-box;
  border: 2px solid transparent;
}
.modal .form .form_item .name:hover,
.modal .form .form_item .email:hover,
.modal .form .form_item .message:hover {
  background: #EAEAEA;
}
.modal .form .form_item .name:focus,
.modal .form .form_item .email:focus,
.modal .form .form_item .message:focus {
  border: 2px solid #F7E296;
}
.modal .form .form_item .name::placeholder,
.modal .form .form_item .email::placeholder,
.modal .form .form_item .message::placeholder {
  padding: 1rem 0 0 1rem;
}
.modal .form .form_item .name {
  margin-right: 40px;
}
.modal .form .form_item-message {
  flex-flow: column;
  margin-top: 2rem;
}
.modal .form .form_item-message .message {
  resize: none;
  width: 760px;
  height: 167px;
  margin: 0 auto;
}
.modal .form .form_item-message .message-description {
  align-self: flex-start;
  margin-left: 6rem;
}

.footer-box {
  min-height: 324px;
  background: #363636;
  padding: 0 140px;
}
.footer-box .footer {
  margin-top: 3rem;
}
.footer-box .footer_item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-box .footer_item:nth-child(2) {
  margin-top: 20px;
}
.footer-box .logo-footer {
  fill: var(--special-yellow-dark);
}
.footer-box .logo-footer:hover {
  opacity: 0.7;
}
.footer-box .logo-footer:active {
  opacity: 0.3;
}
.footer-box .footer_item-logo {
  margin-top: 16px;
}
.footer-box .footer_item-address {
  font-family: Opensans, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
}
.footer-box .phone {
  color: rgba(255, 255, 255, 0.7);
  font-family: Opensans, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin-top: 16px;
  display: block;
  text-decoration: none;
}
.footer-box .login-pic_footer,
.footer-box .compare-pic-footer,
.footer-box .basket-pic-footer {
  fill: var(--special-yellow-dark);
}
.footer-box .logo_academy-box {
  margin-top: 2.2rem;
}
.footer-box .logo_academy-box:hover {
  opacity: 0.7;
}
.footer-box .logo_academy-box:active {
  opacity: 0.3;
}
.footer-box .footer_item-thing {
  background: #FFC600;
  width: 80px;
  height: 7px;
  margin-top: 3rem;
}
.footer-box .footer-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: 50px;
}
.footer-box .footer-nav_item:nth-child(2) {
  margin: 0 10px;
}
.footer-box .footer-nav .footer-nav_link {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 10px;
}
.footer-box .social_net {
  display: flex;
  list-style: none;
  margin-top: 27px;
}
.footer-box .social_net .social_net_link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0.65rem;
}
.footer-box .social_net .social_net_link .social_net_svg {
  fill-opacity: 0.3;
  fill: #FFFFFF;
}
.footer-box .social_net .social_net_link .social_net_svg:hover {
  fill-opacity: 0.6;
}
.footer-box .social_net .social_net_link .social_net_svg:active {
  fill-opacity: 0.2;
}
.footer-box .footer_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-box .footer_form a {
  color: rgba(255, 255, 255, 0.7);
}
.footer-box .footer_form .basket {
  color: rgba(255, 255, 255, 0.7);
  font-family: Opensans, sans-serif;
  display: block;
}
.footer-box .footer_form .footer_form-box {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-left: 35px;
}
.footer-box .footer_form .footer_form-box:first-child {
  margin-left: 0;
}
.footer-box .footer_form .footer_form-box .user-name {
  margin: 0 16px;
}

.main-content .tittle {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 47px 0 0 60px;
}
.main-content .breadcrumb {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 29px 0 0 60px;
}
.main-content .breadcrumb .breadcrumb-item {
  padding-right: 2.1rem;
}
.main-content .breadcrumb .breadcrumb-item .breadcrumb-link {
  font-family: Opensans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
  text-decoration: none;
}
.main-content .breadcrumb .breadcrumb-item .breadcrumb-link:hover {
  opacity: 0.7;
}
.main-content .breadcrumb .breadcrumb-item .breadcrumb-link:focus {
  opacity: 1;
}
.main-content .breadcrumb .arrow {
  position: relative;
}
.main-content .breadcrumb .arrow::after {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  transform: rotate(45deg);
  position: absolute;
  top: 7px;
  right: 13px;
}
.main-content .catalog-box {
  margin-bottom: 80px;
}
.main-content .filters-tittle {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
.main-content .catalog {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.main-content .catalog .catalog-filters {
  min-width: 468px;
  background: var(--basic-grey-light);
}
.main-content .catalog .catalog-filters .filters-tittle-box {
  background: #DCDCDC;
  padding-left: 14vw;
}
.main-content .catalog .catalog-filters .filters-form {
  padding-left: 14vw;
}
.main-content .catalog .catalog-filters .filters-form .filters-item {
  border: none;
  margin-top: 70px;
  padding: 0;
}
.main-content .catalog .catalog-filters .filters-form .filters-item:nth-child(3) {
  margin-top: 35px;
}
.main-content .catalog .catalog-filters .filters-form .filters-item:nth-child(4) {
  margin-top: 50px;
}
.main-content .catalog .catalog-filters .filters-form .filters-item .filters-list {
  margin: 14px 0 0 43px;
  padding: 0;
  list-style: none;
}
.main-content .catalog .catalog-filters .filters-form .filters-item .filters-list .filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 20px;
  background: transparent;
  border: 2px solid #000;
  left: -43px;
  top: 15px;
}
.main-content .catalog .catalog-filters .filters-form .filters-item .filters-list .filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../img/icon_check.svg") no-repeat center;
  left: -39px;
  top: 45%;
}
.main-content .catalog .catalog-filters .filters-form .filters-item .filters-list label {
  position: relative;
  cursor: pointer;
  display: block;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  padding-top: 20px;
}
.main-content .catalog .catalog-filters .filters-form .filters-item .filters-list .filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #000;
  left: -44px;
  top: 15px;
}
.main-content .catalog .catalog-filters .filters-form .filters-item .filters-list .filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 50%;
  left: -35px;
  top: 24px;
}
.main-content .catalog .catalog-filters .filters-form .filters-item .filters-list .filters-list_item:hover {
  opacity: 0.6;
}
.main-content .catalog .catalog-filters .filters-form .filters-item .filters-list .filters-list_item:active {
  opacity: 1;
}
.main-content .catalog .catalog-filters .filters-form .filters-item .filters-list .filters-list_item:focus {
  opacity: 1;
}
.main-content .catalog .catalog-filters .filters-form .filters-item .filters-name {
  min-width: 200px;
  border-top: 2px solid #000;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  padding-top: 1rem;
}
.main-content .catalog .catalog-filters .filters-form .filters-item .cost-box {
  padding: 38px 0 0;
}
.main-content .catalog .catalog-filters .filters-form .filters-item .cost-box .cost {
  width: 200px;
  height: 2px;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
}
.main-content .catalog .catalog-filters .filters-form .filters-item .cost-box .cost .cost-value {
  width: 60%;
  height: 2px;
  background: var(--special-green);
}
.main-content .catalog .catalog-filters .filters-form .filters-item .cost-box .roller {
  background: #E5E5E5;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.18);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 8px solid #fff;
  position: absolute;
}
.main-content .catalog .catalog-filters .filters-form .filters-item .cost-box .roller .price {
  display: block;
  width: 60px;
  padding-top: 1.3rem;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin-left: -8px;
}
.main-content .catalog .catalog-filters .filters-form .filters-item .cost-box .roller-from {
  top: -10px;
  left: 0;
}
.main-content .catalog .catalog-filters .filters-form .filters-item .cost-box .roller-to {
  top: -10px;
  left: 60%;
}
.main-content .catalog .catalog-filters .filters-item-bluetooth {
  display: flex;
  flex-flow: column;
}
.main-content .catalog .catalog-product {
  width: 80%;
}
.main-content .catalog .catalog-product .catalog-product_filter {
  height: 70px;
  background: var(--basic-grey-light);
}
.main-content .catalog .catalog-product .catalog-product_filter .catalog-product_wrap {
  display: flex;
  padding-left: 72px;
  justify-content: space-between;
  align-items: center;
  max-width: 760px;
}
.main-content .catalog .catalog-product .catalog-product_filter .arrow-box {
  display: flex;
  padding-right: 10px;
}
.main-content .catalog .catalog-product .catalog-product_filter .arrow-box .arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 10px 6px;
  border-color: transparent transparent rgba(0, 0, 0, 0.3) transparent;
  cursor: pointer;
}
.main-content .catalog .catalog-product .catalog-product_filter .arrow-box .arrow_up:hover {
  border-color: transparent transparent black transparent;
}
.main-content .catalog .catalog-product .catalog-product_filter .arrow-box .arrow_down {
  margin-left: 23px;
  border-width: 10px 6px 0 6px;
  border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
}
.main-content .catalog .catalog-product .catalog-product_filter .arrow-box .arrow_down:hover {
  border-color: var(--basic-black) transparent transparent transparent;
}
.main-content .catalog .catalog-product .catalog-product_filter .catalog-product_list {
  display: flex;
  list-style: none;
  margin: 0 0 0 58px;
  flex-grow: 1;
  padding: 0;
}
.main-content .catalog .catalog-product .catalog-product_filter .catalog-product_list .filter_list-item a {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
  padding: 18px 16px;
  cursor: pointer;
  text-decoration: none;
}
.main-content .catalog .catalog-product .catalog-product_filter .catalog-product_list .filter_list-item a:hover {
  opacity: 0.6;
}
.main-content .catalog .catalog-product .catalog-product_filter .catalog-product_list .filter_list-item a:active {
  opacity: 1;
}
.main-content .catalog .catalog-product .catalog-product_filter .catalog-product_list .filter_list-item .active {
  opacity: 1;
}
.main-content .catalog .catalog-product .catalog-cards {
  display: flex;
  flex-flow: wrap;
  padding: 55px 70px 0 70px;
}
.main-content .catalog .catalog-product .catalog-cards .catalog-cards-box {
  display: flex;
  width: 360px;
  margin-bottom: 50px;
}
.main-content .catalog .catalog-product .catalog-cards .catalog-cards_item {
  margin-top: 1rem;
  margin-right: 40px;
}
.main-content .catalog .catalog-product .catalog-cards .catalog-cards_item .catalog-cards_pic {
  position: relative;
  margin-bottom: 10px;
  width: 360px;
  height: 380px;
}
.main-content .catalog .catalog-product .catalog-cards .catalog-cards_item .new:before {
  content: "new";
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  right: 23px;
  top: 26px;
  color: rgba(0, 0, 0, 0.3);
}
.main-content .catalog .catalog-product .catalog-cards .catalog-cards_item .new:before:hover {
  color: rgba(0, 0, 0, 0.9);
}
.main-content .catalog .catalog-product .catalog-cards .catalog-cards_item:hover .hover_cards-box {
  left: 0;
  background: rgba(238, 238, 238, 0.7);
}
.main-content .catalog .catalog-product .catalog-cards .catalog-cards_item .cards-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
  width: 360px;
}
.main-content .catalog .catalog-product .catalog-cards .catalog-cards_item .cards-box .price {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.055em;
  width: 27%;
  text-align: right;
}
.main-content .catalog .catalog-product .catalog-cards .catalog-cards_item .cards-box .catalog-item_tittle {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}
.main-content .catalog .catalog-product .catalog-cards .catalog-cards_item .hover_cards-box {
  position: absolute;
  top: 0;
  left: -5000px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.main-content .catalog .catalog-product .catalog-cards .catalog-cards_item .hover_cards-box .btn-box {
  margin-top: 14%;
}
.main-content .catalog .catalog-product .catalog-cards .catalog-cards_item .hover_cards-box .add-comparison {
  background: transparent;
  border: none;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  padding-top: 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}
.main-content .catalog .catalog-product .catalog-cards .catalog-cards_item .hover_cards-box .add-comparison:hover {
  opacity: 1;
}
.main-content .catalog .catalog-product .cards-nav {
  background: #EBEBEB;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 760px;
  box-sizing: border-box;
  margin: 5px 0 0 70px;
}
.main-content .catalog .catalog-product .cards-nav .back,
.main-content .catalog .catalog-product .cards-nav .next {
  width: 120px;
  height: 70px;
  display: flex;
  text-decoration: none;
  color: var(--basic-black);
}
.main-content .catalog .catalog-product .cards-nav .back:hover,
.main-content .catalog .catalog-product .cards-nav .next:hover {
  background: #D9D9D9;
}
.main-content .catalog .catalog-product .cards-nav .cards-nav-box .cards-nav_item {
  opacity: 0.3;
  text-decoration: none;
  color: var(--basic-black);
}
.main-content .catalog .catalog-product .cards-nav .cards-nav-box .cards-nav_item:nth-child(2) {
  margin: 0 24px;
}
.main-content .catalog .catalog-product .cards-nav .cards-nav-box .active {
  opacity: 1;
}
.main-content .catalog .catalog-product .cards-nav .cards-nav_item {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.main-content .catalog .catalog-product .cards-nav .cards-nav_item:hover {
  opacity: 0.7;
}

/*# sourceMappingURL=style.css.map */
