@font-face {
  font-family: opensanslight;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}
@font-face {
  font-family: Opensans;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: GilroyLight;
  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}
@font-face {
  font-family: Gilroy;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}
.body-page {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-family: Opensans, sans-serif;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: #000;
  text-decoration: none;
}

.wrap {
  width: 1160px;
  margin: 0 auto;
}

.header-catalog {
  height: 186px;
}

.main-header {
  min-width: 1160px;
  min-height: 206px;
  background: linear-gradient(0deg, #f7e296 0%, #f7e296 86%, white 86%, white 100%);
  margin: 0.6rem auto 0;
}
.main-header_logo {
  margin: 13px 0 0 59px;
}
.main-header_logo .logo:hover {
  opacity: 0.6;
}
.main-header_logo .logo:focus {
  opacity: 0.3;
}
.main-header_item {
  display: flex;
  align-items: baseline;
  margin: 1.8rem 61px;
}
.main-header_item .search-box {
  border-bottom: 2px solid transparent;
  width: 50%;
}
.main-header_item .search-box .search {
  outline: none;
  border-bottom: 2px solid transparent;
  padding-left: 10px;
}
.main-header_item .search-box .search:hover {
  border-bottom: 2px solid #000;
}
.main-header_item .login,
.main-header_item .compare,
.main-header_item .search {
  background: none;
  border: none;
  font-family: Opensansans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}
.main-header_item .login-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  cursor: pointer;
  flex-flow: row-reverse;
  margin-left: 20px;
}
.main-header_item .login-box .login-pic {
  padding-right: 0.5rem;
}
.main-header_item .compare-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  flex-flow: row-reverse;
  margin: 0 33px;
}
.main-header_item .compare-box .compare-pic {
  padding-right: 0.5rem;
}
.main-header_item .basket-box {
  text-align: center;
}
.main-header_item .basket-box .basket-pic {
  padding-right: 0.5rem;
}
.main-header .main-nav_list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 44px 57px 0 59px;
  padding: 0;
  list-style: none;
}
.main-header .main-nav_list .link {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.main-header .main-nav_list .open {
  width: 44%;
  display: flex;
  align-items: center;
}
.main-header .main-nav_list .open:hover .main-nav_list-down {
  display: flex;
  flex-wrap: wrap;
  width: 51%;
  position: absolute;
  top: 1.2rem;
  padding: 8px 54.5% 1.4rem 0;
  background: #F7E296;
  z-index: 10000;
  left: 0;
}
.main-header .main-nav_list .open:hover .main-nav_list-down::before {
  content: "";
  width: 60px;
  height: 129px;
  background: #F7E296;
  left: -59px;
  top: 36px;
  position: absolute;
  z-index: 999;
}
.main-header .main-nav_list .open:hover .main-nav_list-down .sub-menu-link {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  text-transform: none;
  padding: 25px 4rem 0 0;
  display: block;
  line-height: 20px;
}
.main-header .main-nav_list .open .plus {
  padding-left: 1rem;
}
.main-header .main-nav_list-down {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}
.main-header .main-nav_list-down::after {
  content: "";
  position: absolute;
  width: 64%;
  height: 1px;
  background: linear-gradient(to right, #000, #F7E296);
  top: 30px;
  left: 0;
}

.slider-first-box {
  position: relative;
  margin-bottom: 5.8rem;
}
.slider-first-box .slider-first {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1000;
  background: linear-gradient(0deg, white 0%, white 75%, #f7e296 75%, #f7e296 100%);
  min-height: 513px;
}
.slider-first-box .slider-first .slider-text {
  padding: 0.4rem 0 0 2rem;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.slider-first-box .slider-first .slider-text .btn-box {
  margin-top: 13px;
  margin-left: 5px;
}
.slider-first-box .slider-first .slider-pic {
  text-align: center;
}
.slider-first-box .slider-first .slider-pic img {
  margin-left: 11px;
  margin-top: 23px;
}
.slider-first-box .slider-first .slider-pic .quadrotor {
  padding: 4rem 1rem 0 0;
}
.slider-first-box .slider-first .slider-num {
  position: absolute;
  top: -19px;
  right: 55px;
  display: block;
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 1;
}
.slider-first-box .slider-first .slider-item {
  width: 50%;
  z-index: 100;
}
.slider-first-box .slider-first .slider-item .slogan {
  position: relative;
  display: flex;
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 5.3rem 0 9px 4px;
}
.slider-first-box .slider-first .slider-item .slogan:before {
  content: "";
  width: 100px;
  height: 7px;
  background: #fff;
  position: absolute;
  top: -62px;
}
.slider-first-box .slider-first .slider-item .description {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 47px;
  margin-left: 3px;
}
.slider-first-box .slider-first .slider-item .characteristic-box {
  display: flex;
  padding: 25px 0 0 3px;
  width: 100%;
}
.slider-first-box .slider-first .slider-item .characteristic-box .characteristic-item {
  margin-right: 13%;
  font-family: GilroyLight, sans-serif;
}
.slider-first-box .slider-first .slider-item .characteristic-box .characteristic {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  margin-bottom: 0;
}
.slider-first-box .slider-nav {
  display: flex;
  position: absolute;
  bottom: 32%;
  right: 82px;
  cursor: pointer;
  z-index: 100000;
}
.slider-first-box .slider-nav .slider-nav_item {
  position: relative;
  margin: 0 0.5rem;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #000;
  padding: 0;
  display: flex;
  cursor: pointer;
  background: transparent;
}
.slider-first-box .slider-nav .current {
  background: url("../img/png/current.png") no-repeat center;
  cursor: pointer;
}
.slider-first-box .slide {
  display: none;
}
.slider-first-box .active-slider {
  display: flex;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: center;
  width: 220px;
  align-items: center;
}
.btn-box .btn {
  position: relative;
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  z-index: 1000;
  border: none;
  background: none;
  cursor: pointer;
}
.btn-box .btn:focus {
  opacity: 0.3;
}
.btn-box .btn-click {
  display: block;
  position: absolute;
  top: 33%;
  left: 0;
  width: 220px;
  height: 8px;
  background: #F0C52E;
  z-index: 1;
  transition: 0.3s;
}
.btn-box:hover .btn-click {
  height: 40px;
  top: -10px;
}

.product {
  margin-bottom: 5.2rem;
}
.product .product-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
.product .product-list .product-item .product-item_pic {
  width: 160px;
  height: 160px;
  background: #F7E296;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .product-list .product-item .product-item_description {
  width: 160px;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  margin-top: 2.4rem;
}

.slider-second-container {
  background: linear-gradient(0deg, #e5e5e5 74%, white 50%);
  margin-bottom: 5.8rem;
}
.slider-second-container .slider-second {
  display: flex;
  padding-bottom: 4.1rem;
}
.slider-second-container .slider-second .box-slider {
  width: 70%;
}
.slider-second-container .slider-second .box-slider .services-item {
  padding-left: 49px;
  padding-right: 0;
}
.slider-second-container .slider-second .services-menu {
  display: flex;
  align-items: flex-start;
  width: 30%;
}
.slider-second-container .slider-second .services-menu .border-right {
  border-right: 7px solid #000;
}
.slider-second-container .slider-second .services-item {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  min-height: 320px;
  padding-right: 3.7rem;
}
.slider-second-container .slider-second .services-item .btn-box {
  margin: 1.2rem 0;
}
.slider-second-container .slider-second .services-item .btn-box:active .btn-click {
  background: black;
  padding-right: 61px;
}
.slider-second-container .slider-second .services-item .btn-box:active .btn {
  color: #F7E296;
  opacity: 1;
}
.slider-second-container .slider-second .services-item_text {
  margin: -10px 0 0 1px;
}
.slider-second-container .slider-second .services-item_text .services-header {
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}
.slider-second-container .slider-second .services-item_text .services-description {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}
.slider-second-container .slider-second .slider {
  display: none;
}
.slider-second-container .slider-second .active {
  display: flex;
}

.clients {
  margin-bottom: 5.4rem;
}
.clients .clients-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.clients .clients-list_item {
  filter: grayscale(100%);
  opacity: 0.3;
}
.clients .clients-list_item:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5.3rem;
  position: relative;
}
.about .about-item {
  width: 50%;
  position: relative;
  min-height: 580px;
  display: flex;
  flex-flow: column;
}
.about .about-item .about-item_header {
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-top: 58px;
  margin-bottom: 24px;
}
.about .about-item .about-item_header::after {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background: #000;
  position: absolute;
  top: 0;
}
.about .about-item ._header-contact {
  margin-bottom: 0;
}
.about .about-item .about-item_description {
  font-family: Opensans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}
.about .about-item .about-item_description:nth-child(3) {
  margin-top: 25px;
}
.about .about-item .about-item_list {
  list-style: none;
  margin: 2.25rem 0;
  padding: 0;
}
.about .about-item .about-item_list li {
  padding: 8px 30px;
  position: relative;
}
.about .about-item .about-item_list a {
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}
.about .about-item .about-item_list a:before {
  content: "";
  width: 4px;
  height: 4px;
  border: 2px solid #E5E5E5;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 17px;
  left: 0;
}
.about .about-item .btn-box {
  margin-top: 31px;
}
.about .about-item .btn-box,
.about .about-item .btn-click {
  width: 260px;
}
.about .about-contact {
  margin-left: 6rem;
}
.about .about-contact .about-item_description {
  margin: 39px 0 40px 0;
}
.about .about-contact .btn-box {
  margin-top: 84px;
}
.about .modal {
  display: none;
  position: absolute;
  top: 0;
  left: 15%;
  width: 960px;
  height: 550px;
  background: #FFFFFF;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.15);
}
.about .modal .close {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #F0C52E;
  opacity: 0.5;
  right: 23px;
  top: 19px;
  cursor: pointer;
}
.about .modal .close:hover {
  opacity: 1;
}
.about .modal .close:before, .about .modal .close:after {
  content: "";
  width: 2px;
  height: 25px;
  background: #fff;
  position: absolute;
  top: 30%;
  left: 47%;
}
.about .modal .close:after {
  transform: rotate(45deg);
}
.about .modal .close:before {
  transform: rotate(-45deg);
}
.about .modal .form {
  display: flex;
  flex-flow: column;
  padding-top: 5rem;
}
.about .modal .form .form-btn {
  margin: 3.5rem 0 0 6rem;
}
.about .modal .form .form_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .modal .form .form_item label {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 10px;
  display: block;
}
.about .modal .form .form_item .name,
.about .modal .form .form_item .email,
.about .modal .form .form_item .message {
  width: 360px;
  height: 50px;
  outline: none;
  background: #F2F2F2;
  display: flex;
  padding-left: 2rem;
  box-sizing: border-box;
  border: 2px solid transparent;
}
.about .modal .form .form_item .name:hover,
.about .modal .form .form_item .email:hover,
.about .modal .form .form_item .message:hover {
  background: #EAEAEA;
}
.about .modal .form .form_item .name:focus,
.about .modal .form .form_item .email:focus,
.about .modal .form .form_item .message:focus {
  border: 2px solid #F7E296;
}
.about .modal .form .form_item .name::placeholder,
.about .modal .form .form_item .email::placeholder,
.about .modal .form .form_item .message::placeholder {
  padding: 1rem 0 0 1rem;
}
.about .modal .form .form_item .name {
  margin-right: 40px;
}
.about .modal .form .form_item-message {
  flex-flow: column;
  margin-top: 2rem;
}
.about .modal .form .form_item-message .message {
  resize: none;
  width: 760px;
  height: 167px;
  margin: 0 auto;
}
.about .modal .form .form_item-message .message-description {
  align-self: flex-start;
  margin-left: 6rem;
}

.footer-box {
  min-height: 324px;
  background: #363636;
  width: 100vw;
}
.footer-box .footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 324px;
  min-height: 324px;
}
.footer-box .footer .logo-footer {
  fill: #F0C52E;
}
.footer-box .footer .left-box {
  margin-top: 4rem;
}
.footer-box .footer .left-box .footer_item-logo {
  margin-bottom: 1.4rem;
}
.footer-box .footer .left-box .footer_item-address {
  font-family: opensanslight, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 2.8rem;
}
.footer-box .footer .center-box {
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.footer-box .footer .right-box {
  align-items: flex-end;
}
.footer-box .footer .right-box .compare-box {
  margin: 0 29px;
}
.footer-box .footer .right-box .phone {
  color: rgba(255, 255, 255, 0.7);
  font-family: opensanslight, sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 20px;
}
.footer-box .footer .right-box .login-pic_footer,
.footer-box .footer .right-box .compare-pic-footer,
.footer-box .footer .right-box .basket-pic-footer {
  fill: #F0C52E;
}
.footer-box .footer .right-box .logo_academy-box {
  margin-top: 4.4rem;
}
.footer-box .footer .footer_item {
  display: flex;
  flex-flow: column;
}
.footer-box .footer .footer_item .footer_item-thing {
  background: #FFC600;
  width: 80px;
  height: 7px;
}
.footer-box .footer .footer_item .footer-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 26px;
}
.footer-box .footer .footer_item .footer-nav_item:nth-child(2) {
  margin: 0 10px;
}
.footer-box .footer .footer_item .footer-nav .footer-nav_link {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 10px;
}
.footer-box .footer .footer_item .social_net {
  display: flex;
  margin-top: 2.7rem;
}
.footer-box .footer .footer_item .social_net .social_net_link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0.65rem;
}
.footer-box .footer .footer_item .footer_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 4.5rem;
}
.footer-box .footer .footer_item .footer_form button {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: opensanslight, sans-serif;
}
.footer-box .footer .footer_item .footer_form .basket {
  color: rgba(255, 255, 255, 0.7);
  font-family: opensanslight, sans-serif;
  display: block;
}
.footer-box .footer .footer_item .footer_form .footer_form-box {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.main-content .tittle {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 56px 0 0 60px;
}
.main-content .breadcrumb {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 29px 0 0 60px;
}
.main-content .breadcrumb .breadcrumb-item {
  padding-right: 2.1rem;
}
.main-content .breadcrumb .breadcrumb-item .breadcrumb-link {
  font-family: Opensans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
}
.main-content .breadcrumb .breadcrumb-item .breadcrumb-link:hover {
  opacity: 0.7;
}
.main-content .breadcrumb .breadcrumb-item .breadcrumb-link:focus {
  opacity: 1;
}
.main-content .breadcrumb .arrow {
  position: relative;
}
.main-content .breadcrumb .arrow::after {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  transform: rotate(45deg);
  position: absolute;
  top: 7px;
  right: 13px;
}
.main-content .catalog-box .filters-tittle {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
.main-content .catalog-box .catalog {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.main-content .catalog-box .catalog .catalog-filters {
  min-width: 468px;
  background: #E5E5E5;
}
.main-content .catalog-box .catalog .catalog-filters .filters-tittle-box {
  background: #DCDCDC;
  padding-left: 43%;
}
.main-content .catalog-box .catalog .catalog-filters .filters-form {
  padding-left: 42%;
}
.main-content .catalog-box .catalog .catalog-filters .filters-form .filters-item {
  border: none;
  margin-top: 70px;
  padding: 0;
}
.main-content .catalog-box .catalog .catalog-filters .filters-form .filters-item:nth-child(3) {
  margin-top: 35px;
}
.main-content .catalog-box .catalog .catalog-filters .filters-form .filters-item:nth-child(4) {
  margin-top: 50px;
}
.main-content .catalog-box .catalog .catalog-filters .filters-form .filters-item .filters-list {
  margin: 14px 0 0 43px;
  padding: 0;
  list-style: none;
}
.main-content .catalog-box .catalog .catalog-filters .filters-form .filters-item .filters-list .filters-list_item .filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 20px;
  background: transparent;
  border: 2px solid #000;
  left: -43px;
  top: 15px;
}
.main-content .catalog-box .catalog .catalog-filters .filters-form .filters-item .filters-list .filters-list_item .filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../img/icon_check.svg") no-repeat center;
  left: -39px;
  top: 45%;
}
.main-content .catalog-box .catalog .catalog-filters .filters-form .filters-item .filters-list .filters-list_item label {
  position: relative;
  cursor: pointer;
  display: block;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  padding-top: 20px;
}
.main-content .catalog-box .catalog .catalog-filters .filters-form .filters-item .filters-list .filters-list_item label:hover {
  color: #363636;
}
.main-content .catalog-box .catalog .catalog-filters .filters-form .filters-item .filters-list .filters-list_item .filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #000;
  left: -44px;
  top: 15px;
}
.main-content .catalog-box .catalog .catalog-filters .filters-form .filters-item .filters-list .filters-list_item .filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 50%;
  left: -35px;
  top: 24px;
}
.main-content .catalog-box .catalog .catalog-filters .filters-form .filters-item .filters-name {
  min-width: 200px;
  border-top: 2px solid #000;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  padding-top: 1rem;
}
.main-content .catalog-box .catalog .catalog-filters .filters-form .filters-item .cost-box {
  padding: 38px 0 0;
}
.main-content .catalog-box .catalog .catalog-filters .filters-form .filters-item .cost-box .cost {
  width: 200px;
  height: 2px;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
}
.main-content .catalog-box .catalog .catalog-filters .filters-form .filters-item .cost-box .cost .cost-value {
  width: 60%;
  height: 2px;
  background: #91C92F;
}
.main-content .catalog-box .catalog .catalog-filters .filters-form .filters-item .cost-box .roller {
  background: #E5E5E5;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.18);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 8px solid #fff;
  position: absolute;
}
.main-content .catalog-box .catalog .catalog-filters .filters-form .filters-item .cost-box .roller .price {
  display: block;
  width: 60px;
  padding-top: 1.3rem;
  font-family: GilroyLight, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin-left: -8px;
}
.main-content .catalog-box .catalog .catalog-filters .filters-form .filters-item .cost-box .roller-from {
  top: -10px;
  left: 0;
}
.main-content .catalog-box .catalog .catalog-filters .filters-form .filters-item .cost-box .roller-to {
  top: -10px;
  left: 60%;
}
.main-content .catalog-box .catalog .catalog-filters .filters-item-bluetooth {
  display: flex;
  flex-flow: column;
}
.main-content .catalog-box .catalog .catalog-product {
  width: 80%;
}
.main-content .catalog-box .catalog .catalog-product .catalog-product_filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #E5E5E5;
  padding-left: 72px;
}
.main-content .catalog-box .catalog .catalog-product .catalog-product_filter .arrow-box {
  display: flex;
  justify-content: flex-end;
  width: 27%;
}
.main-content .catalog-box .catalog .catalog-product .catalog-product_filter .arrow-box .arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 10px 6px;
  border-color: transparent transparent rgba(0, 0, 0, 0.3) transparent;
  cursor: pointer;
}
.main-content .catalog-box .catalog .catalog-product .catalog-product_filter .arrow-box .arrow_up:hover {
  border-color: transparent transparent black transparent;
}
.main-content .catalog-box .catalog .catalog-product .catalog-product_filter .arrow-box .arrow_down {
  margin-left: 23px;
  border-width: 10px 6px 0 6px;
  border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
}
.main-content .catalog-box .catalog .catalog-product .catalog-product_filter .arrow-box .arrow_down:hover {
  border-color: #000000 transparent transparent transparent;
}
.main-content .catalog-box .catalog .catalog-product .catalog-product_filter .catalog-product_list {
  display: flex;
  list-style: none;
  margin: 0;
}
.main-content .catalog-box .catalog .catalog-product .catalog-product_filter .catalog-product_list .filter_list-item {
  font-family: Opensans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
  padding: 20px;
  cursor: pointer;
}
.main-content .catalog-box .catalog .catalog-product .catalog-product_filter .catalog-product_list .filter_list-item:hover {
  opacity: 0.7;
}
.main-content .catalog-box .catalog .catalog-product .catalog-product_filter .catalog-product_list .filter_list-item:focus {
  opacity: 1;
}
.main-content .catalog-box .catalog .catalog-product .catalog-product_filter .catalog-product_list .active {
  opacity: 1;
}
.main-content .catalog-box .catalog .catalog-product .catalog-cards {
  display: flex;
  flex-flow: wrap;
  padding: 51px 70px 0 70px;
}
.main-content .catalog-box .catalog .catalog-product .catalog-cards .catalog-cards-box {
  display: flex;
  width: 360px;
  margin-bottom: 50px;
}
.main-content .catalog-box .catalog .catalog-product .catalog-cards .catalog-cards_item {
  margin-top: 1rem;
}
.main-content .catalog-box .catalog .catalog-product .catalog-cards .catalog-cards_item:nth-child(odd) {
  margin-right: 40px;
}
.main-content .catalog-box .catalog .catalog-product .catalog-cards .catalog-cards_item .catalog-cards_pic {
  position: relative;
  margin-bottom: 10px;
  width: 360px;
  height: 380px;
}
.main-content .catalog-box .catalog .catalog-product .catalog-cards .catalog-cards_item .catalog-cards_pic .new {
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  right: 33px;
  top: 29px;
  color: rgba(0, 0, 0, 0.3);
}
.main-content .catalog-box .catalog .catalog-product .catalog-cards .catalog-cards_item .catalog-cards_pic .new:hover {
  color: rgba(0, 0, 0, 0.9);
}
.main-content .catalog-box .catalog .catalog-product .catalog-cards .catalog-cards_item .catalog-cards_pic:hover .hover_cards-box {
  left: 0;
  background: rgba(238, 238, 238, 0.7);
}
.main-content .catalog-box .catalog .catalog-product .catalog-cards .catalog-cards_item .cards-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.main-content .catalog-box .catalog .catalog-product .catalog-cards .catalog-cards_item .cards-box .catalog-item_tittle {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  width: 70%;
}
.main-content .catalog-box .catalog .catalog-product .catalog-cards .catalog-cards_item .hover_cards-box {
  position: absolute;
  top: 0;
  left: -5000px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.main-content .catalog-box .catalog .catalog-product .catalog-cards .catalog-cards_item .hover_cards-box .btn-box {
  margin-top: 14%;
}
.main-content .catalog-box .catalog .catalog-product .catalog-cards .catalog-cards_item .hover_cards-box .add-comparison {
  background: transparent;
  border: none;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  padding-top: 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}
.main-content .catalog-box .catalog .catalog-product .catalog-cards .catalog-cards_item .hover_cards-box .add-comparison:hover {
  opacity: 1;
}
.main-content .catalog-box .catalog .catalog-product .cards-nav {
  background: #EBEBEB;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  box-sizing: border-box;
  margin: 5px 0 76px 70px;
}
.main-content .catalog-box .catalog .catalog-product .cards-nav .back,
.main-content .catalog-box .catalog .catalog-product .cards-nav .next {
  width: 120px;
  height: 70px;
}
.main-content .catalog-box .catalog .catalog-product .cards-nav .back:hover,
.main-content .catalog-box .catalog .catalog-product .cards-nav .next:hover {
  background: #D9D9D9;
}
.main-content .catalog-box .catalog .catalog-product .cards-nav .cards-nav-box .cards-nav_item {
  opacity: 0.3;
}
.main-content .catalog-box .catalog .catalog-product .cards-nav .cards-nav-box .cards-nav_item:nth-child(2) {
  margin: 0 12px;
}
.main-content .catalog-box .catalog .catalog-product .cards-nav .cards-nav-box .active {
  opacity: 1;
}
.main-content .catalog-box .catalog .catalog-product .cards-nav .cards-nav_item {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
}
.main-content .catalog-box .catalog .catalog-product .cards-nav .cards-nav_item:hover {
  opacity: 0.7;
}

/*# sourceMappingURL=style.css.map */
