$special-yellow: #F7E296;
$basic-dark: #363636;
$special-yellow-dark: #F0C52E;
$special-yellow-light: #F7E296;
$basic-grey-light: #E5E5E5;
$special-green: #91C92F;


@font-face {
  font-family: opensanslight;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: Opensans;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: GilroyLight;
  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: Gilroy;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

.body-page {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-family: Opensans, sans-serif;
  //background: url("../img/png/index_o.png") top;
  //background-size: contain;
  box-sizing: border-box;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: #000;
  text-decoration: none;
}

.wrap {
  width: 1160px;
  margin: 0 auto;
}

.header-catalog {
  height: 186px;
}

.main-header {

  min-width: 1160px;
  min-height: 206px;
  background: linear-gradient(0deg, rgba(247, 226, 150, 1) 0%, rgba(247, 226, 150, 1) 86%, rgba(255, 255, 255, 1) 86%, rgba(255, 255, 255, 1) 100%);
  margin: .6rem auto 0;

  &_logo {
    margin: 13px 0 0 59px;

    .logo {
      &:hover {
        opacity: 0.6;
      }

      &:focus {
        opacity: .3;
      }
    }
  }

  &_item {
    display: flex;
    //justify-content: space-between;
    align-items: baseline;
    margin: 1.8rem 61px;

    .search-box {
      border-bottom: 2px solid transparent;
      width: 50%;


      .search {
        outline: none;
        border-bottom: 2px solid transparent;
        padding-left: 10px;

        &:hover {
          border-bottom: 2px solid #000;

        }


      }
    }

    .login,
    .compare,
    .search {
      background: none;
      border: none;
      font-family: Opensansans, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 20px;

    }

    .login-box {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
      cursor: pointer;
      flex-flow: row-reverse;
      margin-left: 20px;

      .login-pic {
        padding-right: .5rem;
      }
    }

    .compare-box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      flex-flow: row-reverse;
      margin: 0 33px;


      .compare-pic {
        padding-right: .5rem;
      }

    }

    .basket-box {

      text-align: center;

      .basket-pic {
        padding-right: .5rem;
      }
    }


  }

  //менюшка

  .main-nav {


    &_list {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 44px 57px 0 59px;
      padding: 0;
      list-style: none;

      .link {
        font-family: Gilroy, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: .2em;
      }


      .open {
        width: 44%;
        display: flex;
        align-items: center;

        &:hover .main-nav_list-down {
          display: flex;
          flex-wrap: wrap;
          width: 51%;
          position: absolute;
          top: 1.2rem;
          padding: 8px 54.5% 1.4rem 0;
          background: $special-yellow;
          z-index: 10000;
          left: 0;

          &::before {
            content: "";
            width: 60px;
            height: 129px;
            background: $special-yellow;
            left: -59px;
            top: 36px;
            position: absolute;
            z-index: 999;

          }


          .sub-menu-link {
            font-family: Open Sans, sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
            text-transform: none;
            padding: 25px 4rem 0 0;
            display: block;
            line-height: 20px;

          }
        }

        .plus {
          padding-left: 1rem;
        }
      }

      &-down {

        list-style: none;
        padding: 0;
        margin: 0;
        display: none;

        &::after {
          content: "";
          position: absolute;
          width: 64%;
          height: 1px;
          background: linear-gradient(to right, #000, $special-yellow);
          top: 30px;
          left: 0;
        }
      }

      //border-top-gradient
    }

  }
}

//слайдер
.slider-first-box {
  position: relative;
  margin-bottom: 5.8rem;

  .slider-first {
    position: relative;
    display: flex;
    justify-content: center;
    //margin-top: 22px;
    z-index: 1000;
    background: linear-gradient(
        0deg
      , rgba(255,255,255,1) 0%, rgba(255,255,255,1) 75%, rgba(247,226,150,1) 75%, rgba(247,226,150,1) 100%);

    min-height: 513px;

    .slider-text {
      padding: .4rem 0 0 2rem;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      //justify-content: center;
      .btn-box {
        margin-top: 13px;
        margin-left: 5px;

      }
    }

    .slider-pic {
      text-align: center;

      img {
        margin-left: 11px;
        margin-top: 23px;
      }

      .quadrotor {
        padding: 4rem 1rem 0 0;
      }
    }


    .slider-num {
      position: absolute;
      top: -19px;
      right: 55px;
      display: block;
      font-family: Gilroy, sans-serif;
      font-weight: 800;
      font-size: 179px;
      line-height: 219px;
      text-transform: uppercase;
      color: #FFFFFF;
      z-index: 1;
    }

    .slider-item {
      width: 50%;
      z-index: 100;


      .slogan {
        position: relative;
        display: flex;
        font-family: Gilroy, sans-serif;
        font-weight: 800;
        font-size: 47px;
        line-height: 58px;
        margin: 5.3rem 0 9px 4px;


        &:before {
          content: "";
          width: 100px;
          height: 7px;
          background: #fff;
          position: absolute;
          top: -62px;

        }

      }

      .description {
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 47px;
        margin-left: 3px;
      }


      .characteristic-box {
        display: flex;
        padding: 25px 0 0 3px;
        width: 100%;

        .characteristic-item {
          margin-right: 13%;
          font-family: GilroyLight, sans-serif;

          .description-characteristic {
            // margin: 0;
          }
        }

        .characteristic {
          //font-family: GilroyLight, sans-serif;
          font-weight: 300;
          font-size: 36px;
          line-height: 42px;
          letter-spacing: 0.1em;
          margin-bottom: 0;
        }

        //.description-characteristic {
        //  font-family: Gilroy, sans-serif;
        //  font-weight: 300;
        //  font-size: 13px;
        //  line-height: 15px;
        //  letter-spacing: 0.1em;
        //}
      }
    }
  }


  .slider-nav {
    display: flex;
    position: absolute;
    bottom: 32%;
    right: 82px;
    cursor: pointer;
    z-index: 100000;

    .slider-nav_item {
      position: relative;
      margin: 0 0.5rem;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid #000;
      padding: 0;
      display: flex;
      cursor: pointer;
      background: transparent;
    }
  }

  .slider-nav .current {
    background: url("../img/png/current.png") no-repeat center;
    cursor: pointer;
  }

  .slide {
    display: none;
  }

  .active-slider {
    display: flex;
  }
}


.btn-box {
  position: relative;
  display: flex;
  justify-content: center;
  width: 220px;
  align-items: center;


  .btn {
    position: relative;
    font-family: Gilroy, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    z-index: 1000;
    border: none;
    background: none;
    cursor: pointer;

    &:focus {
      opacity: .3;
    }
  }

  .btn-click {
    display: block;
    position: absolute;
    top: 33%;
    left: 0;
    width: 220px;
    height: 8px;
    background: $special-yellow-dark;
    z-index: 1;
    transition: .3s;
  }

  &:hover .btn-click {
    height: 40px;
    top: -10px;
  }

}

.product {
  margin-bottom: 5.2rem;

  .product-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;

    .product-item {
      .product-item_pic {
        width: 160px;
        height: 160px;
        background: $special-yellow-light;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .product-item_description {
        width: 160px;
        font-family: Gilroy, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.01em;
        margin-top: 2.4rem;
      }
    }
  }
}

//Второй слайдер
.slider-second-container {
  background: linear-gradient(0deg, rgb(229, 229, 229) 74%, rgb(255, 255, 255) 50%);
  margin-bottom: 5.8rem;

  .slider-second {
    .box-slider {
      width: 70%;

      .services-item {
        padding-left: 49px;
        padding-right: 0;
      }
    }


    display: flex;
    padding-bottom: 4.1rem;
    //justify-content: center;

    .services-menu {
      display: flex;
      align-items: flex-start;
      width: 30%;

      .border-right {
        border-right: 7px solid #000;

      }
    }

    .services-item {
      display: flex;
      align-items: center;
      flex-flow: column;
      justify-content: center;
      min-height: 320px;
      padding-right: 3.7rem;

      .btn-box {
        margin: 1.2rem 0;

        &:active .btn-click {
          background: black;
          padding-right: 61px;
        }

        &:active .btn {
          color: $special-yellow;
          opacity: 1;
        }
      }

      &_text {
        margin: -10px 0 0 1px;

        .services-header {
          font-family: Gilroy, sans-serif;
          font-weight: 800;
          font-size: 47px;
          line-height: 58px;
          letter-spacing: 0.2em;
        }

        .services-description {

          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 30px;
          letter-spacing: 0.1em;
        }
      }


    }

    .slider {
      display: none;
    }

    .active {
      display: flex;
    }
  }
}

.clients {
  margin-bottom: 5.4rem;

  .clients-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    padding: 0;

    &_item {
      filter: grayscale(100%);
      opacity: .3;

      &:hover {
        filter: grayscale(0%);
        opacity: 1;
      }
    }
  }
}


.about {

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5.3rem;

  position: relative;

  .about-item {
    width: 50%;
    position: relative;
    min-height: 580px;
    display: flex;
    flex-flow: column;
    //justify-content: space-between;

    .about-item_header {
      font-family: Gilroy, sans-serif;
      font-weight: 800;
      font-size: 47px;
      line-height: 58px;
      letter-spacing: 0.2em;
      margin-top: 58px;
      margin-bottom: 24px;


      &::after {
        content: "";
        display: block;
        width: 80px;
        height: 7px;
        background: #000;
        position: absolute;
        top: 0;
      }
    }

    ._header-contact {
      margin-bottom: 0;
    }

    .about-item_description {
      font-family: Opensans, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 28px;
      //letter-spacing: 0.1em;

    }

    .about-item_description:nth-child(3) {
      margin-top: 25px;
    }


    .about-item_list {
      list-style: none;
      margin: 2.25rem 0;
      padding: 0;

      li {
        padding: 8px 30px;
        position: relative;


      }

      a {
        font-family: Gilroy, sans-serif;
        font-weight: 800;
        font-size: 16px;
        line-height: 28px;

        &:before {
          content: "";
          width: 4px;
          height: 4px;
          border: 2px solid #E5E5E5;
          background: transparent;
          border-radius: 50%;
          position: absolute;
          top: 17px;
          left: 0;

        }
      }

    }

    .btn-box {
      margin-top: 31px;
    }

    .btn-box,
    .btn-click {
      width: 260px;

    }
  }

  .about-contact {
    margin-left: 6rem;

    .about-item_description {
      margin: 39px 0 40px 0;
    }

    .btn-box {
      margin-top: 84px;
    }
  }

  .modal {
    display: none;
    position: absolute;
    top: 0;
    left: 15%;
    width: 960px;
    height: 550px;
    background: #FFFFFF;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.15);

    .form {
      display: flex;
      flex-flow: column;
      padding-top: 5rem;

      .form-btn {
        margin: 3.5rem 0 0 6rem;
      }

      .form_item {
        display: flex;
        justify-content: center;
        align-items: center;

        label {
          font-family: Gilroy, sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 18px;
          line-height: 22px;
          color: #000000;
          margin-bottom: 10px;
          display: block;
        }

        .name,
        .email,
        .message {
          width: 360px;
          height: 50px;
          border: 0;
          outline: none;
          background: #F2F2F2;
          display: flex;
          padding-left: 2rem;

          &::placeholder {
            padding: 1rem 0 0 1rem;
          }

        }

        .name {
          margin-right: 40px;
        }

      }

      .form_item-message {
        flex-flow: column;
        margin-top: 2rem;

        .message {
          resize: none;
          width: 760px;
          height: 167px;
          margin: 0 auto;
        }

        .message-description {
          align-self: flex-start;
          margin-left: 6rem;
        }
      }
    }

  }

}


.footer-box {

  min-height: 324px;
  background: $basic-dark;
  // min-width: 1440px;
  width: 100vw;

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 324px;
    min-height: 324px;

    .logo-footer {
      fill: $special-yellow-dark;
    }

    .left-box {
      margin-top: 4rem;

      .footer_item-logo {
        margin-bottom: 1.4rem;
      }

      .footer_item-address {
        font-family: opensanslight, sans-serif;
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
        color: rgba(255, 255, 255, .7);
        margin-bottom: 2.8rem;
      }
    }

    .center-box {
      justify-content: center;
      align-items: center;
      margin-top: 5rem;
    }

    .right-box {
      align-items: flex-end;

      .compare-box {
        margin: 0 29px;
      }

      .phone {
        color: rgba(255, 255, 255, 0.7);
        font-family: opensanslight, sans-serif;
        font-weight: 100;
        font-size: 15px;
        line-height: 20px;
      }

      .login-pic_footer,
      .compare-pic-footer,
      .basket-pic-footer {
        fill: $special-yellow-dark;
      }
      .logo_academy-box{
        margin-top: 4.4rem;
      }

    }

    .footer_item {
      display: flex;
      flex-flow: column;


      .footer_item-thing {
        background: #FFC600;
        width: 80px;
        height: 7px;
      }

      .footer-nav {
        display: flex;
        list-style: none;
        padding: 0;
        margin-top: 26px;
        &_item:nth-child(2){
          margin: 0 10px;
        }

        .footer-nav_link {
          font-family: Gilroy, sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 18px;
          line-height: 22px;
          color: #fff;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          padding: 10px;

        }
      }

      .social_net {
        display: flex;
        margin-top: 2.7rem;

        .social_net_link {
          display: flex;
          //background: rgba(255, 255, 255, 0.3);
          justify-content: center;
          align-items: center;
          //width: 32px;
          //height: 32px;
          //border-radius: 50%;
          margin: 8px 0.65rem;
        }
      }

      .footer_form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
        margin-bottom: 4.5rem;


        button {
          background: none;
          border: none;
          color: rgba(255, 255, 255, 0.7);
          font-family: opensanslight, sans-serif;

        }

        .basket {
          color: rgba(255, 255, 255, 0.7);
          font-family: opensanslight, sans-serif;
          display: block;
        }

        .footer_form-box {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;

        }

      }

    }

  }
}


//_______________КАТАЛОГ

.main-content {
  .tittle {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    //margin-left: 3.5rem;
    margin: 56px 0 0 60px;

  }

  .breadcrumb {
    list-style: none;
    padding: 0;
    display: flex;
    //margin: 0 0 0 3.5rem;
    margin: 29px 0 0 60px;

    .breadcrumb-item {
      padding-right: 2.1rem;

      .breadcrumb-link {
        font-family: Opensans, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        color: #000000;
        opacity: 0.3;

        &:hover {
          opacity: .7;
        }

        &:focus {
          opacity: 1;
        }
      }
    }

    .arrow {
      position: relative;
      //padding-right: 10px;
      &::after {
        content: "";
        display: block;
        width: 3px;
        height: 3px;
        border-right: 1px solid #000;
        border-top: 1px solid #000;
        transform: rotate(45deg);
        position: absolute;
        top: 7px;
        right: 13px;

      }
    }
  }

  .catalog-box {
    //background: linear-gradient(90deg, rgba(229, 229, 229, 1) 0%, rgba(229, 229, 229, 1) 27%, rgba(255, 255, 255, 1) 27%);

    .filters-tittle {
      font-family: Gilroy, sans-serif;
      //text-align: center;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      height: 70px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      // padding: .6rem 0 0 1rem;


    }

    .catalog {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;

      .catalog-filters {
        min-width: 468px;
        background: #E5E5E5;

        .filters-tittle-box {
          background: #DCDCDC;
          padding-left: 43%;
        }

        .filters-form {
          //background: $basic-grey-light;
          padding-left: 42%;


          .filters-item {
            border: none;
            margin-top: 70px;
            padding: 0;
            &:nth-child(3){
              margin-top: 35px;
            }
            &:nth-child(4){
              margin-top: 50px;
            }

            .filters-list {
              margin: 14px 0 0 43px;
              padding: 0;
              list-style: none;

              .filters-list_item {


                .filter-input-checkbox + label::before {
                  content: "";
                  position: absolute;
                  width: 22px;
                  height: 20px;
                  background: transparent;
                  border: 2px solid #000;
                  left: -43px;
                  top: 15px;
                }

                .filter-input-checkbox:checked + label::after {
                  content: "";
                  position: absolute;
                  width: 20px;
                  height: 20px;
                  background: url("../img/icon_check.svg") no-repeat center;
                  left: -39px;
                  top: 45%;
                }

                label {
                  position: relative;
                  cursor: pointer;
                  display: block;
                  font-family: OpenSans, sans-serif;
                  font-style: normal;
                  font-weight: 300;
                  font-size: 14px;
                  line-height: 19px;
                  padding-top: 20px;


                  &:hover {
                    color: #363636;


                  }
                }

                .filter-input-radio + label::before {
                  content: "";
                  position: absolute;
                  width: 22px;
                  height: 22px;
                  border-radius: 50%;
                  background: transparent;
                  border: 2px solid #000;
                  left: -44px;
                  top: 15px;
                }

                .filter-input-radio:checked + label::after {
                  content: "";
                  position: absolute;
                  width: 8px;
                  height: 8px;
                  background: #000;
                  border-radius: 50%;
                  left: -35px;
                  top: 24px;
                }

              }
            }


            .filters-name {
              min-width: 200px;
              border-top: 2px solid #000;
              font-family: Gilroy, sans-serif;
              font-style: normal;
              font-weight: 800;
              font-size: 14px;
              line-height: 17px;
              letter-spacing: 0.1em;
              padding-top: 1rem;

            }

            .cost-box {
              padding: 38px 0 0;

              .cost {
                width: 200px;
                height: 2px;
                background: rgba(0, 0, 0, .2);
                position: relative;

                .cost-value {
                  width: 60%;
                  height: 2px;
                  background: $special-green;
                }
              }

              .roller {
                background: $basic-grey-light;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.18);
                width: 4px;
                height: 4px;
                border-radius: 50%;
                border: 8px solid #fff;
                position: absolute;

                .price {
                  display: block;
                  width: 60px;
                  padding-top: 1.3rem;
                  font-family: GilroyLight, sans-serif;
                  font-style: normal;
                  font-weight: 300;
                  font-size: 14px;
                  line-height: 16px;
                  margin-left: -8px;

                }

                &-from {
                  top: -10px;
                  left: 0;
                }

                &-to {
                  top: -10px;
                  left: 60%;
                }

              }
            }
          }
        }

        .filters-item-bluetooth {
          display: flex;
          flex-flow: column;
        }
      }

      .catalog-product {
        width: 80%;
        //background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 93%, rgba(229, 229, 229, 1) 92%, rgba(229, 229, 229, 1) 100%);

        .catalog-product_filter {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          background: #E5E5E5;
          padding-left: 72px;

          .arrow-box {
            display: flex;
            justify-content: flex-end;
            width: 27%;

            .arrow {
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 6px 10px 6px;
              border-color: transparent transparent rgba(0, 0, 0, .3) transparent;
              cursor: pointer;
            }

            .arrow_up {
              &:hover {
                border-color: transparent transparent rgba(0, 0, 0, 1) transparent;
              }
            }

            .arrow_down {
              margin-left: 23px;
              border-width: 10px 6px 0 6px;
              border-color: rgba(0, 0, 0, .3) transparent transparent transparent;

              &:hover {
                border-color: #000000 transparent transparent transparent;
              }

            }
          }

          .catalog-product_list {
            display: flex;
            list-style: none;
            margin: 0;
            //padding: 0.6rem 0 0 1rem;

            .filter_list-item {
              font-family: Opensans, sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 19px;
              color: #000000;
              opacity: 0.3;
              padding: 20px;
              cursor: pointer;

              &:hover {
                opacity: .7;
              }

              &:focus {
                opacity: 1;
              }
            }


            .active {
              opacity: 1;
            }
          }
        }

        .catalog-cards {
          display: flex;

          flex-flow: wrap;
          padding: 51px 70px 0 70px;

          .catalog-cards-box {
            display: flex;
            width: 360px;
            margin-bottom: 50px;


          }


          .catalog-cards_item {
           // position: relative;
            margin-top: 1rem;



            &:nth-child(odd) {
              margin-right: 40px;
            }


            .catalog-cards_pic{
              position: relative;
              margin-bottom: 10px;
              width: 360px;
              height: 380px;
              .new{
                position: absolute;
                width: 62px;
                height: 62px;
                border-radius: 50%;
                border: 2px solid rgba(0, 0, 0, 0.3);
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: Gilroy, sans-serif;
                font-style: normal;
                font-weight: 800;
                font-size: 14px;
                line-height: 15px;
                text-transform: uppercase;
                right: 33px;
                top: 29px;
                color: rgba(0, 0, 0, 0.3);
                &:hover{
                  color: rgba(0, 0, 0, 0.9);
                }
              }
              &:hover .hover_cards-box {
                left: 0;
                background: rgba(238, 238, 238, 0.7);
              }
            }


            .cards-box {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 1rem;


              .catalog-item_tittle {
                font-family: Gilroy, sans-serif;
                font-style: normal;
                font-weight: 800;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.05em;
                width: 70%;

              }
            }

            .hover_cards-box {
              position: absolute;
              top: 0;
              left: -5000px;
              overflow: hidden;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-flow: column;
              .btn-box{
                margin-top: 14%;
              }

              .add-comparison {
                background: transparent;
                border: none;
                font-family: OpenSans, sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 13px;
                line-height: 18px;
                letter-spacing: 0.1em;
                padding-top: 1.5rem;
                cursor: pointer;
                opacity: .6;

                &:hover {
                  opacity: 1;
                }

              }
            }


          }
        }

        .cards-nav {
          background: #EBEBEB;
          height: 70px;

          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 760px;

          box-sizing: border-box;
          margin: 5px 0 76px 70px;

          .back,
          .next {
            width: 120px;
            height: 70px;

            &:hover {
              background: #D9D9D9;
            }
          }


          .cards-nav-box {
            .cards-nav_item {
              opacity: .3;
              &:nth-child(2){
                margin: 0 12px;
              }
            }


            .active {
              opacity: 1;
            }
          }

          .cards-nav_item {
            font-family: Gilroy, sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            border: none;
            background: none;
            cursor: pointer;


            &:hover {
              opacity: .7;
            }


          }


        }
      }

    }
  }
}






























